:root {
    --primary-color: #721bff;
    --light-color: #ffffff;
    --dark-color: #d1d1d1;
    --danger-color: #b11414;
    --danger-light-color: #e09999;

    --text-dark-color: #161616;
    --text-light-color: #ffffff;
    --text-link-color: #ac85e9;
    --text-danger-color: #b11414;

    --box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}